<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>

        <link rel="stylesheet" href="style/style.css" />
        <script>
            var exports = {};
        </script>

        <script src="../dist/renderer/typequery.js"></script>
        <script src="../dist/renderer/index.js" defer></script>
    </head>
    <body>
        <div titlebar></div>
        <div id="servers">
            <div scroll>
                <div server></div>
                <div server></div>
                <div server></div>
            </div>
        </div>

        <div class="side">
            <div
                u
                user-list
                style="width: 95%; height: 85%; padding-bottom: 50px; margin-left: 10px; margin-top: 30px; overflow-y: scroll"
            >
                <a btn><img src="images/wave.png" width="35px" /> Friends</a>
                <a btn><img src="images/library.png" width="35px" /> Games</a>
                <hr />
            </div>
            <div bottom-panel>
                <a more><img src="images/more.png" width="50px" /></a>
                <img avatar src="https://cdn.wallpapersafari.com/12/42/OKF0lh.jpg" width="50px" />
                <h2 username>User 1234</h2>
                <h3 status>Status or tsadfadsfag</h3>
            </div>
        </div>

        <template user-template>
            <a btn>
                <img avatar src="https://cdn.wallpapersafari.com/12/42/OKF0lh.jpg" width="35px" />
                <span username>DDDDdds1234</span>
                <span status>Lorem ipsum dolor sit.</span>
            </a>
        </template>
    </body>
</html>
