:root {
    --color-bg: #2c2e33;
    --color-titlebar: #141618;
    --color-servers: #141618;
    --color-side: #202125;
}

@font-face {
    font-family: "Poppins";
    src: url("./Poppins.ttf");
}

*,
*::before,
*::after {
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border: 5px solid #464646;
    background: #464646;
}

a,
button {
    text-decoration: none;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background: #31302f;
    border-radius: 5px;
}

body {
    color: white;
    background-color: var(--color-bg);
    margin: 0;
    padding: 0;
}

*[titlebar] {
    float: left;
    width: 100%;
    height: 30px;
    position: fixed;
    background: var(--color-titlebar);
    margin-bottom: 20px;
    -webkit-app-region: drag;
    z-index: 9999;
}

#servers {
    position: fixed;
    top: 0;
    margin-top: 30px;

    width: 80px;
    height: 100%;
    background-color: var(--color-servers);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 9998;
}

#servers div[scroll]::-webkit-scrollbar {
    width: 0px;
}

#servers div[scroll] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px;
    overflow-x: auto;
}

#servers div[server] {
    width: 60px;
    margin-top: 6px;
    height: 60px;
    border-radius: 100%;
    float: none;
    margin-left: 10px;
    background-color: rgb(255, 56, 56);

    display: inline-block;
}

.side {
    position: fixed;
    left: 80px;
    top: 0;
    width: 230px;
    height: 100%;
    background-color: var(--color-side);
}

.other-side {
    position: fixed;
    left: 310px;
    top: 0;
    height: 100%;
    width: 100vw;
}

.other-side *[down] {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.other-side *[up] {
    position: absolute;
    top: 30px;
    left: 40px;
}

.other-side *[up] *[news] {
    width: 66vw;
    min-height: 300px;

    border: 2px solid rgb(87, 255, 96);
    color: rgb(87, 255, 96);
    border-radius: 5px;
}

.other-side *[up] *[bugs] {
    width: 66vw;
    min-height: 300px;

    border: 2px solid rgb(255, 87, 87);
    color: rgb(255, 87, 87);
    border-radius: 5px;
}

.other-side *[up] *[other] {
    width: 66vw;
    min-height: 300px;

    border: 2px solid rgb(87, 160, 255);
    color: rgb(87, 160, 255);
    border-radius: 5px;
}

.other-side *[up] legend {
    font-size: 35px;
}

*[input] {
    width: 350px;
    font-size: 25px;

    border: none;
    outline: none;

    background-color: #3b3e46;
    color: white;

    padding: 5px;
    padding-left: 15px;
    padding-right: 5px;

    border-radius: 10px;
}

*[chat-input] {
    width: 71vw;
}

*[btn] {
    width: 90%;
    border-radius: 5px;
    font-size: 23px;
    margin-top: 15px;
    float: left;

    vertical-align: middle;

    padding: 7px 3px 7px 5px;
}

.side hr {
    width: 95%;
    border-radius: 5px;
    margin-left: -2px;
    font-size: 23px;
    margin-top: 15px;
    float: left;

    vertical-align: middle;
    outline: none;
}

*[btn] img {
    vertical-align: middle;
}

*[btn] *[avatar] {
    border-radius: 100%;
}

*[btn]:hover {
    background-color: rgba(255, 255, 255, 0.082);
}

*[btn] *[username] {
    font-size: 20px;
    margin-top: -37px;
    margin-left: 52px;
    display: block;
}

*[btn] *[status] {
    font-size: 12px;
    margin-top: -10px;
    display: block;
    margin-left: 52px;
}

.side *[bottom-panel] {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;

    background-color: #181a1d;
}

*[bottom-panel] *[avatar] {
    position: absolute;
    margin-left: 10px;
    margin-top: 13px;
    border-radius: 100%;
}

*[bottom-panel] *[username] {
    margin-left: 70px;
    margin-top: 16px;
    font-size: 17px;
}

*[bottom-panel] *[status] {
    margin-left: 70px;
    margin-top: -20px;
    font-size: 12px;
}

.side *[more] {
    position: absolute;
    right: 0;

    margin-top: 8px;
    margin-right: 5px;
}

.side *[more] img:hover {
    background-color: rgba(255, 255, 255, 0.281);
    border-radius: 5px;
}

.side *[users] {
    overflow-y: scroll;
}

.side *[u]::-webkit-scrollbar-track {
    border: 5px solid #181a1d;
    background: #181a1d;
}
